@include tablet{
    .contenedor-anuncios{
        @include grid(3, 2rem);
    }
}
.anuncio{
    background-color: lighten($gris, 5);
    border: 1px solid lighten($grisOscuro, 50);
    margin-bottom: 3rem;
    .contenido-anuncio{
        padding: 2rem;
    }

    h3,p{
        margin: 0;
    }
    h3{
        font-size: 2.5rem;
    }
}
.precio{
    color: $verde;
    font-weight: $bold;
    font-size: 3rem;
}
.iconos-caracteristicas{
    display: flex; // para que este de izquierda a derecha
    list-style: none;
    padding: 0;
    max-width: 40rem;

    li{
        flex: 1; // eso va a hacer que tome todo el espacio disponible, recuerda en una proporcionque cada uno reciba un pixel de lo que hay disponible
        display: flex;
        img{
            flex: 0 0 5rem;
            margin-right: 1rem;
        }
        p{
            font-weight: $black;
        }
    }
}