.formulario{
    p{
        font-size: 1.4rem;
        color: $grisOscuro;
        margin: 2rem 0;

    }
    legend{
        font-size: 3rem;
        color: $grisOscuro;
    }
    label{
        font-weight: $bold;
        text-transform: uppercase;
        display: block; /* para que se vea de arriba hacia abajo*/
    }
    input:not([type="submit"]),
    textarea, select{
        padding: 1rem;
        display: block;
        width: 100%;
        background-color: $blanco;
        border: 1px solid $gris;
        border-radius: 1.5rem;
        margin-bottom: 2rem;
    }
    textarea{
        height: 20rem;
    }
    .forma-contacto{
        max-width: 30rem;
        display: flex; /*se van a colocar de izquierda a derecha*/
        justify-content: space-between;
        align-items: center;
    }
    input[type="radio"]{
        margin: 1rem;
        width: auto;
    }
    fieldset{
        border: .2px solid $grisClaro;
        
    }
}